@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

:root {
    --tom_laranja: rgb(255,70,10);
    --tom_gelo: rgb(237,237,237);
    --tom_chumbo: rgb(35,35,35);
    --branco: rgb(255,255,255);
    --fonte: 'IBM Plex Sans';
}

/* goteira
position: absolute;
left: 730px;
top: 380px;
border-radius: 0% 50% 50% 50%;
background-color: #22d4fd;
width: 50px;
height: 50px;
border: 3px solid black;
transform: rotate(45deg);
margin-top: 20px;
*/

* {
    margin: 15;
    padding: 0;
    font-family: var(--fonte);
}

.titulo__body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

body {
    height: 150vh;
    background-color: var(--tom_gelo);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabela {
    margin: 0 0;
    position: absolute;
    top: 12.5em;
}

.tabela-cabecalho {
    border: 2px solid;
    font-weight: 600;
}

.tabela-coluna {
    background-color: rgb(255,70,10);
    color: rgb(237,237,237);
    padding: 0.5em 2em;
    border: 2px solid black;
}

.tabela-celula {
    width: 120px;
    border: 1px solid;
    text-align: center;
    background-color: white;
}

.tabela-celula2 {
    width: 310px;
    border: 1px solid;
    text-align: center;
    background-color: white;
}

.tabela-descricao {
    padding: 0.5em 13em 0.5em 2em;
}

.tabela-corpo {
    border: 2px solid;
}

.site_image {
    position: absolute;
    left: 722px;
    top: 200px;
    z-index: -1;
}

.div__1 {
    display: flex;
    justify-content: center;
    padding: 0% 0% 0% 15%;
}

.hide {
    visibility: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 0% 8%;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 85em;
    gap: 10px;
    width: 5em;
    height: 5em;
    
}

.botao {
    background-color: var(--tom_chumbo);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    padding: 21.5px ;
    text-decoration: none;
    color: var(--branco);
    margin: 3%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

.botao:hover {
    box-shadow: 10px 10px 10px var(--tom_laranja);
}

.botao_ativo,
.botao:active {
    background-color: var(--tom_laranja);
    color: var(--tom_gelo);
}

.sinaleiras {
    position: absolute;
}

.sinal:hover {
    width: 100px;
    height: 25px;
    background-color: var(--tom_chumbo);
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1;
}


.sinal {
    background-color: var(--tom_chumbo);
    text-decoration: none;
    width: 25px;
    height: 25px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.sinal1 {
    /* 01.001 */
    position: absolute;
    left: 740px;
    top: 405px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal2 {
    /* 11.001 */
    position: absolute;
    left: 830px;
    top: 400px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal3 {
    /* 15.001 */
    position: absolute;
    left: 955px;
    top: 395px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal4 {
    /* 15.002 */
    position: absolute;
    left: 865px;
    top: 395px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal5 {
    /* 15.003 */
    position: absolute;
    left: 955px;
    top: 295px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal6 {
    /* 16.001 */
    position: absolute;
    left: 910px;
    top: 435px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal7 {
    /* 28.001 */
    position: absolute;
    left: 870px;
    top: 220px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal8 {
    /* 28.002 */
    position: absolute;
    left: 958px;
    top: 220px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal9 {
    /* 31.001 */
    position: absolute;
    left: 821px;
    top: 150px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal10 {
    /* 31.002 */
    position: absolute;
    left: 822px;
    top: 130px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal11 {
    /* 31.003 */
    position: absolute;
    left: 822px;
    top: 110px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal12 {
    /* 31.004 */
    position: absolute;
    left: 822px;
    top: 90px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal13 {
    /* 31.005 */
    position: absolute;
    left: 710px;
    top: 55px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal14 {
    /* 31.006 */
    position: absolute;
    left: 685px;
    top: 75px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal15 {
    /* 31.007 */
    position: absolute;
    left: 710px;
    top: 90px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal16 {
    /* 31.008 */
    position: absolute;
    left: 645px;
    top: 160px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal17 {
    /* 31.009 */
    position: absolute;
    left: 830px;
    top: 65px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal18 {
    /* 31.010 */
    position: absolute;
    left: 810px;
    top: 178px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal19 {
    /* 31.011 */
    position: absolute;
    left: 680px;
    top: 180px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal20 {
    /* 43.001 */
    position: absolute;
    left: 1210px;
    top: 445px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal21 {
    /* 43.002 */
    position: absolute;
    left: 1045px;
    top: 590px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal22 {
    /* 43.003 */
    position: absolute;
    left: 1185px;
    top: 615px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal23 {
    /* 50.001 */
    position: absolute;
    left: 835px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal24 {
    /* 50.002 */
    position: absolute;
    left: 840px;
    top: 195px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal25 {
    /* 50.003 */
    position: absolute;
    left: 820px;
    top: 290px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal26 {
    /* 50.004 */
    position: absolute;
    left: 730px;
    top: 255px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal27 {
    /* 50.005 */
    position: absolute;
    left: 730px;
    top: 220px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal28 {
    /* 50.006 */
    position: absolute;
    left: 800px;
    top: 210px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal29 {
    /* 50.007 */
    position: absolute;
    left: 635px;
    top: 230px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal30 {
    /* 50.008 */
    position: absolute;
    left: 838px;
    top: 248px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal31 {
    /* 50.009 */
    position: absolute;
    left: 838px;
    top: 223px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal32 {
    /* 50.010 */
    position: absolute;
    left: 770px;
    top: 210px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal33 {
    /* 50.011 */
    position: absolute;
    left: 680px;
    top: 290px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal34 {
    /* 50.012 */
    position: absolute;
    left: 680px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal35 {
    /* 50.013 */
    position: absolute;
    left: 700px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal36 {
    /* 50.014 */
    position: absolute;
    left: 730px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal37 {
    /* 50.015 */
    position: absolute;
    left: 770px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal38 {
    /* 50.016 */
    position: absolute;
    left: 800px;
    top: 275px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal39 {
    /* 52.001 */
    position: absolute;
    left: 625px;
    top: 80px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.sinal40 {
    /* 52.001 */
    position: absolute;
    left: 630px;
    top: 30px;
    border-radius: 10px;
    background-color: var(--tom_chumbo);
    width: 15px;
    height: 15px;
    color: transparent;
}

.seccionais {
    position: absolute;
}

.secao {
    background-color: var(--tom_chumbo);
    text-decoration: none;
    width: 25px;
    height: 25px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.secao:hover {
    width: 100px;
    height: 25px;
    background-color: var(--tom_chumbo);
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    transform: rotate(0deg);
    z-index: 1;
}

.secao1 {
    position: absolute;
    left: 885px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao2 {
    position: absolute;
    left: 895px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao3 {
    position: absolute;
    left: 905px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao4 {
    position: absolute;
    left: 915px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao5 {
    position: absolute;
    left: 925px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao6 {
    position: absolute;
    left: 935px;
    top: 295px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    color: transparent;
}

.secao7 {
    position: absolute;
    left: 1110px;
    top: 416px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao8 {
    position: absolute;
    left: 1114px;
    top: 429px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao9 {
    position: absolute;
    left: 1120px;
    top: 418px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao10 {
    position: absolute;
    left: 1125px;
    top: 431px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao11 {
    position: absolute;
    left: 1132px;
    top: 420px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao12 {
    position: absolute;
    left: 1137px;
    top: 433px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao13 {
    position: absolute;
    left: 1145px;
    top: 423px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao14 {
    position: absolute;
    left: 1149px;
    top: 435px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao15 {
    position: absolute;
    left: 1157px;
    top: 425px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao16 {
    position: absolute;
    left: 1160px;
    top: 437px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao17 {
    position: absolute;
    left: 1168px;
    top: 427px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao18 {
    position: absolute;
    left: 1171px;
    top: 439px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao19 {
    position: absolute;
    left: 1178px;
    top: 429px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao20 {
    position: absolute;
    left: 1182px;
    top: 441px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao21 {
    position: absolute;
    left: 1189px;
    top: 431px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao22 {
    position: absolute;
    left: 1192px;
    top: 443px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao23 {
    position: absolute;
    left: 1199px;
    top: 433px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao24 {
    position: absolute;
    left: 1202px;
    top: 445px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao25 {
    position: absolute;
    left: 1210px;
    top: 435px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao26 {
    position: absolute;
    left: 1212px;
    top: 447px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao27 {
    position: absolute;
    left: 1052px;
    top: 552px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao28 {
    position: absolute;
    left: 1056px;
    top: 562px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao29 {
    position: absolute;
    left: 1062px;
    top: 554px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.secao30 {
    position: absolute;
    left: 582px;
    top: 328px;
    background-color: green;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    transform: rotate(10deg);
    color: transparent;
}

.goteiras {
    position: absolute;
}

.gota {
    background-color: var(--tom_chumbo);
    text-decoration: none;
    width: 25px;
    height: 25px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.gota:hover {
    width: 100px;
    height: 25px;
    background-color: var(--tom_chumbo);
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    transform: rotate(0deg);
    z-index: 1;
}

.gota1 {
    position: absolute;
    left: 680px;
    top: 350px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota2 {
    position: absolute;
    left: 610px;
    top: 565px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota3 {
    position: absolute;
    left: 585px;
    top: 510px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota4 {
    position: absolute;
    left: 585px;
    top: 460px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota5 {
    position: absolute;
    left: 610px;
    top: 255px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota6 {
    position: absolute;
    left: 595px;
    top: 210px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota7 {
    position: absolute;
    left: 800px;
    top: 380px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota8 {
    position: absolute;
    left: 915px;
    top: 330px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota9 {
    position: absolute;
    left: 915px;
    top: 410px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota10 {
    position: absolute;
    left: 705px;
    top: 462px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota11 {
    position: absolute;
    left: 870px;
    top: 595px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota12 {
    position: absolute;
    left: 830px;
    top: 310px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota13 {
    position: absolute;
    left: 600px;
    top: 130px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota14 {
    position: absolute;
    left: 900px;
    top: 470px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota15 {
    position: absolute;
    left: 910px;
    top: 160px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota16 {
    position: absolute;
    left: 785px;
    top: 462px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota17 {
    position: absolute;
    left: 755px;
    top: 02px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota18 {
    position: absolute;
    left: 740px;
    top: 105px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota19 {
    position: absolute;
    left: 720px;
    top: -15px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota20 {
    position: absolute;
    left: 925px;
    top: 75px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota21 {
    position: absolute;
    left: 1080px;
    top: 155px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota22 {
    position: absolute;
    left: 1270px;
    top: 505px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota23 {
    position: absolute;
    left: 990px;
    top: 150px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota24 {
    position: absolute;
    left: 1005px;
    top: 490px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota25 {
    position: absolute;
    left: 1135px;
    top: 500px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota26 {
    position: absolute;
    left: 1215px;
    top: 410px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota27 {
    position: absolute;
    left: 585px;
    top: 330px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota28 {
    position: absolute;
    left: 735px;
    top: 215px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota29 {
    position: absolute;
    left: 600px;
    top: 35px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.gota30 {
    position: absolute;
    left: 938px;
    top: 520px;
    border-radius: 0% 50% 50% 50%;
    background-color: #22d4fd;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    transform: rotate(45deg);
    margin-top: 20px;
    color: transparent;
}

.show {
    background-color: black !important;
    color: white !important;
}

.show:hover {
    background-color: black !important;
    color: white !important;
}